<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
    <div>
        <h1></h1>
        <div>© 2026 Pharmacy</div>

        <label>
            Подписка:
            <input type="email" placeholder="Ваш email" class="input">
        </label>

        <button>Отправить</button>
    </div>
    <a href="/politic/">Политика конфиденциальности</a>
</footer>
</body>
</html>