{% extends 'base.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}
<div>
    <h1>Каталог</h1>

    <form method="get">
        <input type="text" name="q" placeholder="Поиск..." class="input">

        <select name="category">
            <option value="">Все категории</option>
            {% for info in all_categors %}
                <option value="{{ info.id }}">{{ info.name }}</option>
            {% endfor %}
        </select>

        <label>
            <input type="checkbox" name="in_stock" value="1">
            Только в наличии
        </label>

        <input type="number" name="min_price" placeholder="Цена от">
        <input type="number" name="max_price" placeholder="Цена до">

        <button type="submit">Поиск</button>
    </form>

    <div style="margin: 15px 0;">
        <a href="?category="><b>ВСЕ</b></a>
        {% for info in all_categors %}
            <a href="?category={{ info.id }}"><b>{{ info.name }}</b></a>
        {% endfor %}
    </div>

    {% if perms.pharmacy.add_medication %}
        <a href="{% url 'med_create' %}">Создать</a>
    {% endif %}

    {% for info in all_info %}
        <div style="border:1px solid #ccc; padding:12px; margin-bottom:12px;">
            <div><b>Название:</b> {{ info.name }}</div>
            {% if info.photo %}
                <img src="{{ info.photo.url }}" alt="{{ info.name }}" style="max-width:100px;">
            {% endif %}
            <div><b>Категория:</b> {{ info.category.name }}</div>
            <div><b>Цена:</b> {{ info.cost }}</div>

            <div>
                <b>В наличии:</b>
                {% if info.count %}
                    <span>Да</span>
                {% else %}
                    <span>Нет</span>
                {% endif %}
            </div>

            <div style="margin-top:10px;">
                {% if info.count %}
                    <a href="{% url 'shop:add_to_cart' info.id %}">Купить</a>
                {% else %}
                    <span>Нет в наличии</span>
                {% endif %}
            </div>

            <div style="margin-top:10px;">
                {% if perms.pharmacy.change_medication %}
                    <a href="{% url 'med_edit' info.id %}">Редактировать</a>
                {% endif %}

                {% if perms.pharmacy.delete_medication %}
                    <a href="{% url 'med_delete' info.id %}">Удалить</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <div>Нет лекарств.</div>
    {% endfor %}
</div>
{% endblock %}