{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация</h1>

    <form method="post" action="{% url 'register_view' %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="register">
        <input type="hidden" name="next" value="{{ request.GET.next|default:'about_company' }}">

        {% if register_form.non_field_errors %}
            <div style="color: red;">
                {{ register_form.non_field_errors }}
            </div>
        {% endif %}

        <p>
            {{ register_form.username.label_tag }}<br>
            {{ register_form.username }}
            {{ register_form.username.errors }}
        </p>

        <p>
            {{ register_form.password1.label_tag }}<br>
            {{ register_form.password1 }}
            {{ register_form.password1.errors }}
        </p>

        <p>
            {{ register_form.password2.label_tag }}<br>
            {{ register_form.password2 }}
            {{ register_form.password2.errors }}
        </p>

        <p>
            {{ register_form.birth_date.label_tag }}<br>
            {{ register_form.birth_date }}
            {{ register_form.birth_date.errors }}
        </p>

        <p>
            {{ register_form.phone.label_tag }}<br>
            {{ register_form.phone }}
            {{ register_form.phone.errors }}
        </p>

        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>
        Уже есть аккаунт?
        <a href="{% url 'login_view' %}">Войти</a>
    </p>
</body>
{% endblock %}