<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Аптека у Пабло{% endblock %}</title>
</head>
<body>
    <header>{% include 'includes/header.html' %}</header>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>{% include 'includes/footer.html' %}</footer>
</body>
</html>
